<mat-form-field class="inputField" [appearance]="appearance">
  <mat-label>{{ title | titlecase }}</mat-label>
  <input matInput [formControl]="controller" [type]="inputType" (change)="onValueChange($event)"
    [placeholder]="placeholder" [minLength]="minLength" [maxLength]="maxLength" [required]="required"
    class="formInputField" />
  <mat-error *ngIf="!this.controller.valid">
    {{ getErrorMessage() }}
  </mat-error>
</mat-form-field>

<!-- ! Click on the visibility button causes the Form to be submitted -->

<!-- <mat-form-field
  [appearance]="appearance"
  class="inputField"
  *ngIf="inputType === 'password'"
>
  <mat-label>{{ title | titlecase }}</mat-label>
  <input
    matInput
    [type]="hide ? 'password' : 'text'"
    [formControl]="controller"
    (change)="onValueChange($event)"
    [placeholder]="placeholder"
    [minLength]="minLength"
    [maxLength]="maxLength"
    [required]="required"
  />
  <button
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field> -->