<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" [position]="'end'">
        <mat-nav-list [formGroup]="filterForm">
            <div class="fxFlex-row border-b">
                <h1>Filter</h1>
                <button mat-raised-button color="primary">Reset</button>
            </div>
            <div class="fxFlex-col">
                <h1>Sort By</h1>
                <mat-radio-group aria-label="Employment" formControlName="sortBy">
                    <mat-radio-button value="1">Recently</mat-radio-button>
                    <mat-radio-button value="2">A-Z</mat-radio-button>
                    <mat-radio-button value="3">Top Salary</mat-radio-button>
                    <mat-radio-button value="4">Rating</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="fxFlex-col">
                <h1>Salary Range</h1>
                <mat-slider min="0" max="3000" [formControl]="getFormControl('salaryRange')">
                    <input value="100" matSliderStartThumb>
                    <input value="400" matSliderEndThumb>
                </mat-slider>
            </div>
            <div class="fxFlex-col">
                <h1>Job Type</h1>
                <section formGroupName="jobType">
                    <mat-checkbox formControlName="fullTime">Full Time</mat-checkbox>
                    <mat-checkbox formControlName="partTime">Part Time</mat-checkbox>
                    <mat-checkbox formControlName="internship">Internship</mat-checkbox>
                    <mat-checkbox formControlName="contractual">Contractual</mat-checkbox>
                </section>
            </div>
            <div class="fxFlex-col">
                <h1>Experience</h1>
                <section formGroupName="experience">
                    <mat-checkbox formControlName="freshGraduate">Fresh Graduate</mat-checkbox>
                    <mat-checkbox formControlName="beginner">Beginner</mat-checkbox>
                    <mat-checkbox formControlName="intermediate">Intermediate</mat-checkbox>
                    <mat-checkbox formControlName="expert">Expert</mat-checkbox>
                </section>
            </div>
            <div class="fxFlex-col">
                <h1>Position</h1>
                <section formGroupName="jobType">
                    <mat-checkbox formControlName="fullTime">Full Time</mat-checkbox>
                    <mat-checkbox formControlName="partTime">Part Time</mat-checkbox>
                    <mat-checkbox formControlName="internship">Internship</mat-checkbox>
                    <mat-checkbox formControlName="contractual">Contractual</mat-checkbox>
                </section>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="hide-xs-div">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
        <div class="content-container">
            <mat-card class="sticky-card card-flex-col fxHide-xs" [formGroup]="filterForm">
                <div class="fxFlex-row">
                    <h1>Filter</h1>
                    <button mat-raised-button>Reset</button>
                </div>
                <div class="fxFlex-col">
                    <h1>Sort By</h1>
                    <mat-radio-group aria-label="Employment" formControlName="sortBy">
                        <mat-radio-button value="1">Recently</mat-radio-button>
                        <mat-radio-button value="2">A-Z</mat-radio-button>
                        <mat-radio-button value="3">Top Salary</mat-radio-button>
                        <mat-radio-button value="4">Rating</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="fxFlex-col">
                    <h1>Salary Range</h1>
                    <mat-slider min="0" max="3000" [formControl]="getFormControl('salaryRange')">
                        <input value="100" matSliderStartThumb>
                        <input value="400" matSliderEndThumb>
                    </mat-slider>
                </div>
                <div class="fxFlex-col">
                    <h1>Job Type</h1>
                    <section formGroupName="jobType">
                        <mat-checkbox formControlName="fullTime">Full Time</mat-checkbox>
                        <mat-checkbox formControlName="partTime">Part Time</mat-checkbox>
                        <mat-checkbox formControlName="internship">Internship</mat-checkbox>
                        <mat-checkbox formControlName="contractual">Contractual</mat-checkbox>
                    </section>
                </div>
                <div class="fxFlex-col">
                    <h1>Experience</h1>
                    <section formGroupName="experience">
                        <mat-checkbox formControlName="freshGraduate">Fresh Graduate</mat-checkbox>
                        <mat-checkbox formControlName="beginner">Beginner</mat-checkbox>
                        <mat-checkbox formControlName="intermediate">Intermediate</mat-checkbox>
                        <mat-checkbox formControlName="expert">Expert</mat-checkbox>
                    </section>
                </div>
                <div class="fxFlex-col">
                    <h1>Position</h1>
                    <section formGroupName="position">
                        <mat-checkbox formControlName="onSite">On-site</mat-checkbox>
                        <mat-checkbox formControlName="remote">Remote</mat-checkbox>
                    </section>
                </div>
            </mat-card>
            <div class="scrollable-content">
                <ng-content></ng-content>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>