mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 275px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: #6b7280;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-flex;
  height: 30px;
  width: 30px;
  margin: 0 0;
  text-align: center;
  vertical-align: middle;
  width: auto;
  align-items: center;
  justify-content: center;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

.hide-xs-div {
  @media (min-width: 640px) {
    display: none;
  }
}

.fxFlex {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.fxHide-xs {
  @media (max-width: 640px) {
    display: none;
  }
}

.ul-fxLayout {
  display: flex;
  align-items: center;
  gap: 20px;

  & > li {
    & > a {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}

.mat-toolbar-gt-xs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fxFlex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 0.75rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-bottom: .5rem;
  & > h1 {
    margin: 0;
    color: black;
    font-weight: 700;
    font-size: 18px;
  }
}

.border-b {
  border-bottom: 1px solid;
  border-bottom-color: #6b7280;
}

.fxFlex-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-inline: 0.75rem;
  margin-bottom: 4rem;
  & > h1 {
    margin-bottom: 0.25rem;
    color: black;
    font-weight: 700;
    font-size: 18px;
  }

  & > section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

.mat-radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  grid-gap: 16px; /* Adjust the gap as needed */
}

.mat-radio-button {
  color: #6b7280;
  font-weight: 500;
}

.mat-checkbox {
  color: #6b7280;
  font-weight: 500;
}

.mat-slider {
  width: 100%;
}
