<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" [position]="'end'">
        <mat-nav-list [formGroup]="filterForm">
            <div class="fxFlex-row border-b">
                <h1>Filter</h1>
                <button mat-raised-button color="primary" (click)="resetFilterForm()">Reset</button>
            </div>
            <div class="fxFlex-col">
                <h1>Sort By</h1>
                <mat-radio-group aria-label="Employment" formControlName="sortBy">
                    <mat-radio-button value="alphabet">A-Z</mat-radio-button>
                    <mat-radio-button value="rating">Rating</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="fxFlex-col">
                <h1>Job Type</h1>
                <mat-radio-group formControlName="jobType">
                    <mat-radio-button value="FULLTIME">Full Time</mat-radio-button>
                    <mat-radio-button value="PARTTIME">Part Time</mat-radio-button>
                    <mat-radio-button value="INTERNSHIP">Internship</mat-radio-button>
                    <mat-radio-button value="CONTRACTOR">Contractual</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="fxFlex-col">
                <h1>Experience</h1>
                <mat-radio-group formControlName="experience">
                    <mat-radio-button value="no_experience">Fresh Graduate</mat-radio-button>
                    <mat-radio-button value="no_degree">Beginner</mat-radio-button>
                    <mat-radio-button value="under_3_years_experience">Intermediate</mat-radio-button>
                    <mat-radio-button value="more_than_3_years_experience">Expert</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="fxFlex-col">
                <h1>Position</h1>
                <section formGroupName="position">
                    <mat-checkbox checked [disabled]="true">On-site</mat-checkbox>
                    <mat-checkbox formControlName="remote_jobs_only">Remote</mat-checkbox>
                </section>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content-container">
            <mat-card class="sticky-card card-flex-col fxHide-xs" [formGroup]="filterForm">
                <div class="fxFlex-row">
                    <h1>Filter</h1>
                    <button mat-raised-button (click)="resetFilterForm()">Reset</button>
                </div>
                <div class="fxFlex-col">
                    <h1>Sort By</h1>
                    <mat-radio-group aria-label="Employment" formControlName="sortBy">
                        <mat-radio-button value="alphabet">A-Z</mat-radio-button>
                        <mat-radio-button value="rating">Rating</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="fxFlex-col">
                    <h1>Job Type</h1>
                    <mat-radio-group formControlName="jobType">
                        <mat-radio-button value="FULLTIME">Full Time</mat-radio-button>
                        <mat-radio-button value="PARTTIME">Part Time</mat-radio-button>
                        <mat-radio-button value="INTERNSHIP">Internship</mat-radio-button>
                        <mat-radio-button value="CONTRACTOR">Contractual</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="fxFlex-col">
                    <h1>Experience</h1>
                    <mat-radio-group formControlName="experience">
                        <mat-radio-button value="no_experience">Fresh Graduate</mat-radio-button>
                        <mat-radio-button value="no_degree">Beginner</mat-radio-button>
                        <mat-radio-button value="under_3_years_experience">Intermediate</mat-radio-button>
                        <mat-radio-button value="more_than_3_years_experience">Expert</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="fxFlex-col">
                    <h1>Position</h1>
                    <section formGroupName="position">
                        <mat-checkbox checked [disabled]="true">On-site</mat-checkbox>
                        <mat-checkbox formControlName="remote_jobs_only">Remote</mat-checkbox>
                    </section>
                </div>
            </mat-card>
            <div class="scrollable-content">
                <ng-content></ng-content>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>