<mat-dialog-content class="mat-typography">
  <div class="image-container">
    <img src="../../../../assets/job-description-card-bg.png" alt="job-desc-card-bg" />
    <div class="overlay">
      <div class="logo">
        <img src="your-logo-image-path.png" alt="logo" />
      </div>
    </div>
  </div>
  <div class="job-detail-wrapper">
    <div class="detail-block">
      <h3>EXPERIENCE</h3>
      <p>{{data.requiredExperience}}</p>
    </div>
    <div class="detail-block">
      <h3>EMPLOYMENT</h3>
      <p>{{data.employmentType}}</p>
    </div>
    <div class="detail-block">
      <h3>SALARY</h3>
      <p>${{data.minSalary}}k - ${{data.maxSalary}}k</p>
    </div>
  </div>
  <h1 mat-dialog-title>{{data.job_title}}</h1>
  <h2>Job Description</h2>
  <p>{{data.job_description}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>