.search-input-header {
  display: flex;
  // background-color: rgb(103, 106, 255);
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.mat-form-field-wrapper {
  padding-bottom: 0rem;
}

.outer-div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
button {
  z-index: 3;
  padding: 0.5rem;
  margin-block: 0.25rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #1d4ed8;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  display: grid;
  place-items: center;
  background-color: #1d4ed8;

  &:hover {
    background-color: #1e40af;
  }
}

icon {
  width: 1rem;
  height: 1rem;
  color: #6b7280;
}

.search-icon {
  width: 1rem;
  height: 1rem;
}
