.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: white;
  width: 30px;
  height: 30px;
}

.job-card {
  max-width: 200px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.salaryContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;

  & > div {
    width: 6px;
    height: 6px;
    background-color: lightgreen;
    border-radius: 100%;
  }
  & > h5 {
    margin: 0rem;
    font-weight: 500;
    font-size: 14px;
    color: gray;
  }
}
.card-footer {
  margin-inline: 0.25rem;
  padding-bottom: 1rem;
}
.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: gray;
  font-weight: 500;

  & > p {
    padding: 0px;
    margin: 0px;
  }
}

.ratingIconContainer {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gold;
  gap: 4px;

  &>div{
    color: gray;
  }
}
