.jobTypeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px; /* Adjust the gap as needed */
  width: 100%;
}

.search-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  & > h1 {
    text-align: left;
  }
}

.search-results-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 16px;
}

.searched-job-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
}
.flex-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

toolbar-width {
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
  min-width: 100%;
}

.w-full {
  width: 100%;
  max-width: 1400px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & > h1 {
    margin: 0;
  }
}

.hide-filter-menu-button-lg-screen {
  @media (min-width: 768px) {
    display: none;
  }
}

.flex-row-justify-end{
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-end;
}