<!-- Job Type Container -->
<app-top-navbar>
  <section class="search-page-wrapper">

    <app-filter-menu class="w-full" (filterFormValueChange)="onFilterFormValueChange($event)">
      <div class="flex-col">
        <h1>Popular Job</h1>
        <div class="jobTypeContainer">
          <app-job-card [jobType]="'UI/UX Designer'" [minSalary]="300" [maxSalary]="1800" [peopleApplied]="5000"
            [rating]="5" [iconName]="'pen-tool'" [iconContainerBg]="'rgb(103, 131, 255)'"></app-job-card>
          <app-job-card [jobType]="'Web Developer'" [minSalary]="500" [maxSalary]="2000" [peopleApplied]="4200"
            [rating]="5" [iconName]="'monitor'" [iconContainerBg]="'rgb(255, 220, 103)'"></app-job-card>
          <app-job-card [jobType]="'Researcher'" [minSalary]="220" [maxSalary]="1200" [peopleApplied]="3250"
            [rating]="5" [iconName]="'search-code'" [iconContainerBg]="'rgb(103, 207, 255)'"></app-job-card>
          <app-job-card [jobType]="'Data Analyst'" [minSalary]="600" [maxSalary]="2000" [peopleApplied]="3000"
            [rating]="5" [iconName]="'database'" [iconContainerBg]="'rgb(255, 103, 103)'"></app-job-card>
        </div>
        <div class="flex-row">
          <h1>Search Results</h1>
          <div class="flex-row-justify-end">
            <app-search-input-bar (valueChange)="onChildValueChange($event)"
              class="toolbar-width"></app-search-input-bar>
            <button mat-icon-button (click)="toggleSidenav()" class="hide-filter-menu-button-lg-screen">
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>

        </div>
        <mat-spinner *ngIf="showProgressSpinner" [diameter]="30"></mat-spinner>
        <div class="search-results-wrapper" *ngIf="!showProgressSpinner">
          <ng-container *ngIf="searchedJobs.length === 0">
            <div class="searched-job-wrapper" *ngFor="let job of uiDesignerJobs">
              <app-search-result-display-card [logoLink]="job?.employer_logo"
                [jobLocation]="job?.job_city + ', ' + job?.job_country"
                [jobPostedTimeStamp]="job.job_posted_at_timestamp" [jobTitle]="job?.job_title" [jobId]="job?.job_id"
                [jobType]="job?.job_employment_type"
                [jobDescription]="job.job_description"></app-search-result-display-card>
            </div>
          </ng-container>

          <!-- Data Engineer Jobs -->
          <ng-container *ngIf="searchedJobs.length === 0">
            <div class="searched-job-wrapper" *ngFor="let job of dataEngineerJobs">
              <app-search-result-display-card [logoLink]="job?.employer_logo"
                [jobLocation]="job?.job_city + ', ' + job?.job_country"
                [jobPostedTimeStamp]="job.job_posted_at_timestamp" [jobTitle]="job?.job_title" [jobId]="job?.job_id"
                [jobType]="job?.job_employment_type"
                [jobDescription]="job.job_description"></app-search-result-display-card>
            </div>
          </ng-container>

          <!-- Web Developer Jobs -->
          <ng-container *ngIf="searchedJobs.length === 0">
            <div class="searched-job-wrapper" *ngFor="let job of webDevJobs">
              <app-search-result-display-card [logoLink]="job?.employer_logo"
                [jobLocation]="job?.job_city + ', ' + job?.job_country"
                [jobPostedTimeStamp]="job.job_posted_at_timestamp" [jobTitle]="job?.job_title" [jobId]="job?.job_id"
                [jobType]="job?.job_employment_type"
                [jobDescription]="job.job_description"></app-search-result-display-card>
            </div>
          </ng-container>
          <ng-container *ngIf="searchedJobs.length > 0">
            <div class="searched-job-wrapper" *ngFor="let job of searchedJobs">
              <app-search-result-display-card [logoLink]="job?.employer_logo"
                [jobLocation]="job?.job_city + ', ' + job?.job_country"
                [jobPostedTimeStamp]="job.job_posted_at_timestamp" [jobTitle]="job?.job_title" [jobId]="job?.job_id"
                [jobType]="job?.job_employment_type"
                [jobDescription]="job.job_description"></app-search-result-display-card>
            </div>
          </ng-container>
        </div>
      </div>
    </app-filter-menu>
  </section>
</app-top-navbar>